* {
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 992px;
}

.header {
    background-color: orangered;
    height: 70px;
    text-align: center;
    flex-basis: 100%;
    display: block;
}

h1,
p {
    text-transform: uppercase;
    color: white;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    
}


.inline {
    margin-top: 0;

}




.aside-left {
    text-align: center;
    background-color: green;
    display: inline;
    height: 360px;
    flex-basis: 20%;
   
}

.text {
    text-transform: uppercase;
    color: white;
    text-align: center;
    background-color: #1ec9e7;
    display: inline;
    height: 360px;
    flex-basis: 60%;
    
}


.aside-right {
    text-transform: uppercase;
    color: white;
    text-align: center;
    background-color: pink;
    display: inline;
    height: 360px;
    flex-basis: 20%;
   
}

.footer {
    background-color: #955995;
    height: 70px;
    text-align: center;
    flex-basis: 100%;

}


@media (max-width: 992px) {

    .container {
        width: 100%;
    }

    .header {
        flex-basis: 100%;
    }

    .text {
        flex-basis: 80%;
    }

    .aside-right {
        flex-basis: 20%;
    }

    .aside-left {
        flex-basis: 100%;
        order: 1;
    }

    .footer {
        flex-basis: 100%;
        order: 1;
    }


}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .aside-right {
        flex-basis: 100%;
    }

    .text {
        flex-basis: 100%;
    }

}

   